<div class="main _layout_content" id="main-two-columns">

	<div class="left _main" id="main-content">
		<%= yield :aspects_top %>			
		
		<%= content_tag :div, yield(:content), :class => '_content' %>
		
		<%= yield :aspects %>
		<%= yield :aspects_bottom %>

		<div class="clearer">&nbsp;</div>
		
	</div>

	<div class="right sidebar" id="sidebar">
		<%= yield :tools %>
	</div>

	<div class="clearer">&nbsp;</div>
</div>