- b.form login_path, :method => :post do |f|
	= f.error_messages @errors

	= f.text_field_tag :name, @name, :required => true, :label => t(:username)
	= f.password_field_tag :password, "", :required => true, :label => t(:password)

	= f.line

	= f.line_with_delimiters ok_button, cancel_button

	= f.line

	= f.line_with_delimiters link_to(t(:register_link), signup_path), link_to(t(:forgot_password_link), forgot_password_form_identities_path)