<div>
  <h1><%= t('accounts') %></h1>
  <div class="well">
    <button class="_create primary btn"><%= t('create') %></button>&nbsp;
  </div>
  <table>
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('spaces') %></th>
        <th><%= t('domains') %></th>
      </tr>
    </thead>
    <tbody class='_content'>
    </tbody>
  </table>

  <div class='_paginator'></div>
</div>