- content_tag :div, object.merge_html_attributes(:class => " dpage _page dhover_controls_container") do
	- if object.controls?
		.dhover_controls= object.controls.join(' ')
	
	- if object.toolbar?
		%textarea._toolbar_template._hidden
			.toolbar._inplace_target._toolbar.dhover_controls_container
				%br
				.dhover_controls
					= t(:add_embedded_item) + ':'
					= object.toolbar.join(' ')
		
	- if object.name?
		%h1.item_title= object.name
	- else
		&nbsp;
	
	- if object.text?	
		.dtext._markup.dmarkup= object.text
		._clear
	
	._container
		= object.content.to_a.join("\n")
	
	- if object.tags?
		.ditem_tags= object.tags.join("\n")		
	- if object.details?
		.ditem_details= object.details.to_a.join(', ')
	._clear	