- content_for :content do
	= b.title t(:new_user_title)
	- b.narrow do
		- b.form_for :user, :url => finish_email_registration_identities_path do |f|
			= f.hidden_field_tag :token, @token.token

			= f.text_field :name, :required => true, :description => t(:choose_name_description)
			= f.password_field :password, :required => true
			= f.password_field :password_confirmation, :required => true
			
			= f.line		
			= f.line_with_delimiters f.submit(t(:ok)), link_to(t(:cancel), :back)				
			
			/ - b.form_for @user, :url => {:action => (@user.new_record? ? 'create' : 'update')} do |f|
			/ 	= f.error_messages
			/ 
			/ 	= f.text_field :name, :required => true, :label => t(:username)
			/ 	= f.text_field :email, :required => true
			/ 	= f.password_field :password, :required => true
			/ 	= f.password_field :password_confirmation, :required => true
			/ 
			/ 	= f.line
			/ 
			/ 	= f.line_with_delimiters f.submit(t(:ok)), link_to(t(:cancel), :back)