- content_for :content do
	= b.title t(:reset_password)
	- b.narrow do
		- b.form_for :user, :url => reset_password_identities_path do |f|
			= f.hidden_field_tag :token, @token.token

			= f.password_field :password, :required => true, :label => t(:new_password)
			= f.password_field :password_confirmation, :required => true

			= f.line_with_delimiters f.submit(t(:ok)), link_to(t(:cancel), :back)