- content_for :content do
	= b.title t(:edit_password_title)
	- b.narrow do
		- b.form_for :user, :url => update_password_identities_path do |f|
			= f.error_messages

			= f.password_field_tag :old_password, '', :label => t(:old_password), :required => true

			= f.password_field :password, :required => true, :label => t(:password)
			= f.password_field :password_confirmation, :required => true, :label => t(:password_confirmation)

			= f.line_with_delimiters f.submit(t(:ok)), link_to(t(:cancel), :back)