- case action_name
- when :new
  - form = js render('form', locals: {form_action: create_file_path(format: :js)})
  rad.dialog().show('#{form}');  

- when :edit  
  - form = js render('form', locals: {form_action: update_path(@file, format: :js)})
  rad.inplace('##{@file.dom_id}').edit('#{form}');

- when :update
  - html = js render('standalone', object: @file)
  rad.inplace('##{@file.dom_id}').update('#{html}');


/ - when :new_embedded
/   - form = js render('form', locals: {form_action: create_file_path(format: :js)})
/   rad.dialog().show('#{form}')
/ 
/ - when :create_embedded
/   - html = js render(view_from_params, object: @file)
/   var container = $('##{container.dom_id} ._container:first');
/   container.append('#{html}');
/ 
/ - when :edit_embedded
/   - form = js render('form', locals: {form_action: update_file_path(@file, format: :js)})
/   rad.dialog().show('#{form}')  
/   
/ - when :update_embedded
/   - html = js render(view_from_params, object: @file)
/   $('##{@file.dom_id}').replaceWith('#{html}');  
/ 
/ - when :destroy_embedded
/   $('##{@file.dom_id}').remove();
  
  
- else
  - must_be.never_called